.heading-section {
  background-image: linear-gradient(
    to right,
    rgb(181, 249, 181),
    rgb(94, 253, 94)
  );
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.family-buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.namelist {
  background-color: black;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}

.total-people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.per-person {
  width: 300px;
  background-image: linear-gradient(
    to right,
    rgb(181, 249, 181),
    rgb(94, 253, 94)
  );
  margin: 30px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border-radius: 10px;
}

.anchors {
  background-color: rgb(167, 167, 250);
  width: 80px;
  border-radius: 5px;
}
